<%- include('../partials/nav') %>
<h1> Testerrr </h1>

<div class="container-sm">
    <form action="/drivers" method="POST">
        <fieldset>
            <label class="form-label">Name:</label>
           
        </fieldset>
    </form>
</div>

<%- include('../partials/footer') %>