<%- include('../partials/nav') %>
<div class="container-sm">
    <form action="/drivers" method="POST">
        <fieldset>
<h1> Welcome To DRIVEHIVE </h1>
           
            <br>
            <hr>
            
        </fieldset>
    </form>
</div>


<%- include('../partials/footer') %>