<%- include('../partials/nav') %>
<div class="container-sm">
    <form action="/drivers" method="POST">
        <fieldset>
            <label class="form-label">Name:</label>
        
            <label class="form-label">Color:</label>
            <input type="color" class="form-control" name="color" placeholder="What color is it?" required>
           
            <br>
            <hr>
            <input type="submit" class="btn btn-success" value="">
        </fieldset>
    </form>
</div>


<%- include('../partials/footer') %>