<%- include('../partials/nav') %>
<div class="container-sm">
    <form action="/drivers" method="POST">
   
<h1> Welcome To DRIVEHIVE </h1>
           

    </form>
</div>


<%- include('../partials/footer') %>