<%- include('../partials/nav') %>

<div class="container-sm">
    <form action="/drivers" method="POST">
        <fieldset>
            <label class="form-label">Name:</label>
            <input type="text" class="form-control" name="name" placeholder="" required>
            <label class="form-label">Color:</label>
            <input type="color" class="form-control" name="color" placeholder="" required>
           
            <input type="checkbox" class="form-check-control" name="readyToEat" >
            <br>
            <hr>
            <input type="submit" class="btn btn-success" value="">
        </fieldset>
    </form>
</div>

<%- include('../partials/footer') %>